@page
@using System.Data.SqlClient
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model OnlineShop.Areas.Identity.Pages.Admin.DashboardModel
@using OnlineShop.Models 
@inject DBProjectContext dbContext 


@{
    ViewData["Title"] = "Dashboard";
    //Layout = "~/Identity/Admin/Layout.cshtml";

    // Layout = "~/Areas/Identity/Admin/Dashb
    // oard.cshtml";
}

@{
    var totalUsers = 0;
    var totalAdmins = 0;
    var totalAdvanced = 0;
    var advancedUsers = new List<dynamic>();
    var usersWithRoles = new List<dynamic>();

    var connectionString1 = Configuration.GetConnectionString("conn");
    using (var connection1 = new SqlConnection(connectionString1))
    {
        connection1.Open();
        var command1 = new SqlCommand("SELECT COUNT(*) FROM AspNetUsers", connection1);
        totalUsers = (int)command1.ExecuteScalar();
        
        var command2 = new SqlCommand("SELECT COUNT(*) FROM Admins", connection1);
        totalAdmins = (int)command2.ExecuteScalar();

        var command3 = new SqlCommand("SELECT COUNT(*) FROM Admins", connection1);
        totalAdvanced = (int)command3.ExecuteScalar();
        
       // var command4 = new SqlCommand("SELECT * FROM AspNetUserRoles WHERE (SELECT id FROM AspNetRoles WHERE Name = "Admin")", connection);
        var command4 = new System.Data.SqlClient.SqlCommand(@"
            SELECT u.FirstName, u.LastName, u.Email
            FROM AspNetUsers AS u
            INNER JOIN AspNetUserRoles AS ur ON u.Id = ur.UserId
            INNER JOIN AspNetRoles AS r ON ur.RoleId = r.Id
            WHERE r.Name = 'Advanced'
        ", connection1);

        using (var reader = command4.ExecuteReader())
        {
            while (reader.Read())
            {
                advancedUsers.Add(new
                {
                    FirstName = reader["FirstName"].ToString(),
                    LastName = reader["LastName"].ToString(),
                    Email = reader["Email"].ToString()
                });
            }
        }
        

        var commandUsersWithRoles = new SqlCommand(@"
            SELECT u.FirstName, u.LastName, u.Email, u.City, u.ZipCode, r.Name as RoleName
            FROM AspNetUsers AS u
            LEFT JOIN AspNetUserRoles AS ur ON u.Id = ur.UserId
            LEFT JOIN AspNetRoles AS r ON ur.RoleId = r.Id
        ", connection1);

        using (var reader = commandUsersWithRoles.ExecuteReader())
        {
            while (reader.Read())
            {
                usersWithRoles.Add(new
                {
                    FirstName = reader["FirstName"].ToString(),
                    LastName = reader["LastName"].ToString(),
                    Email = reader["Email"].ToString(),
                    City = reader["City"].ToString(), // Added
                    ZipCode = reader["ZipCode"].ToString(), // Added
                    RoleName = reader["RoleName"].ToString()
                });
            }
        }

    }
}


<style>
    .btn-outline-dark {
        background-color: lavender;
        border-color: lavender;
        color: #333;
    }

        .btn-outline-dark:hover {
            background-color: #e6e6fa; /* Lighter lavender on hover */
            border-color: #ddd; /* Light grey border on hover */
            color: #333; /* Dark text on hover */
        }
</style>
 
<!--  
<div class="statistics-details d-flex align-items-center justify-content-between">
    <div>
        <p class="statistics-title">Total Users</p>
        <h3 class="rate-percentage">@totalUsers</h3>
    </div>
    <!-- other statistics details -->


<script>
    function filterByRole() {
        var selectedRole = document.getElementById('roleSelect').value;
        var table = document.getElementById('usersTable');
        var tr = table.getElementsByTagName('tr');

        for (var i = 1; i < tr.length; i++) { // Start from 1 to skip table header
            var role = tr[i].getAttribute('data-role');
            if (selectedRole == 'All' || role == selectedRole) {
                tr[i].style.display = '';
            } else {
                tr[i].style.display = 'none';
            }
        }
    }
</script>




<div class="content-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="home-tab">
                <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="#overview" role="tab"
                               aria-controls="overview" aria-selected="true">Overview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#audiences" role="tab"
                               aria-selected="false">Audiences</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#demographics" role="tab"
                               aria-selected="false">Demographics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border-0" id="more-tab" data-bs-toggle="tab" href="#more" role="tab"
                               aria-selected="false">More</a>
                        </li>
                    </ul>
                    <div>
                        
                        <div class="btn-wrapper">
                            <a href="#" class="btn btn-outline-dark align-items-center"><i class="icon-share"></i> Share</a>
                            <a href="#" class="btn btn-outline-dark"><i class="icon-printer"></i> Print</a>
                            <a href="#" class="btn btn-outline-dark align-items-center"><i class="icon-download"></i> Export</a>
                        </div>
                    </div>
                </div>
               
                <div class="tab-content tab-content-basic">
                    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="statistics-details d-flex align-items-center justify-content-between">
                                   
                                    <div>
                                        <p class="statistics-title">Clients</p>
                                        <h3 class="rate-percentage">15</h3>
                                        <p class="text-success d-flex"><i class="mdi mdi-menu-down"></i><span>+0.5%</span></p>
                                    </div>
                                    <div>
                                        <p class="statistics-title">Advanced Users</p>
                                        <h3 class="rate-percentage">@totalAdvanced</h3>
                                        <p class="text-success d-flex"><i class="mdi mdi-menu-up"></i><span>+0.1%</span></p>
                                    </div>
                                    <div>
                                        <p class="statistics-title">Admins</p>
                                        <h3 class="rate-percentage">@totalAdmins</h3>
                                        <p class="text-success d-flex"><i class="mdi mdi-menu-up"></i><span>+0.1%</span></p>
                                    </div>
                                    <div>
                                        <p class="statistics-title">Total Users</p>
                                        <h3 class="rate-percentage">@totalUsers</h3>
                                        <p class="text-success d-flex"><i class="mdi mdi-menu-up"></i><span>+0.1%</span></p>
                                    </div>                              
                                    <div>
                                        <p class="statistics-title">New Orders</p>
                                        <h3 class="rate-percentage">20</h3>
                                        <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i>+5</p>
                                    </div>                                  
                                    
                                </div>
                            </div>
                        </div>

                        
                        <div class="row">
                        <div class="col-lg-8 d-flex flex-column">
                            <div class="row flex-grow">
                                <div class="col-12 grid-margin stretch-card">
                                    <div class="card card-rounded">
                                        <div class="card-body">
                                            <div class="d-sm-flex justify-content-between align-items-start">
                                                <div>
                                                    <h4 class="card-title card-title-dash"></h4>

                                                        <h3>Users Summary</h3>
                                                        <table style="width: 100%; border-collapse: collapse;">
                                                            <thead>
                                                                <tr>
                                                                    <th style="border: 1px solid #333; padding: 8px; text-align: left;">First Name</th>
                                                                    <th style="border: 1px solid #333; padding: 8px; text-align: left;">Last Name</th>
                                                                    <th style="border: 1px solid #333; padding: 8px; text-align: left;">Email</th>
                                                                    <th style="border: 1px solid #333; padding: 8px; text-align: left;">City</th>
                                                                    <th style="border: 1px solid #333; padding: 8px; text-align: left;">Zip Code</th>

                                                                    <!-- Add more headers as needed -->
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var user in Model.Users)
                                                                {
                                                                    <tr>
                                                                        <td style="border: 1px solid #333; padding: 8px;">@user.FirstName</td>
                                                                        <td style="border: 1px solid #333; padding: 8px;">@user.LastName</td>
                                                                        <td style="border: 1px solid #333; padding: 8px;">@user.UserName</td>
                                                                        <td style="border: 1px solid #333; padding: 8px;">@user.Address.City</td>
                                                                        <td style="border: 1px solid #333; padding: 8px;">@user.Address.ZipCode</td>



                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>

                                               </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-8 d-flex flex-column">
                                <div class="row flex-grow">
                                    <div class="col-12 grid-margin stretch-card">
                                        <div class="card card-rounded">
                                            <div class="card-body">
                                                <div class="d-sm-flex justify-content-between align-items-start">
                                                    <div>
                                                        <h4 class="card-title card-title-dash"></h4>

                                                        <h3> Advanced Users Summary</h3>
                                                        <table style="width: 100%; border-collapse: collapse;">
                                                            <thead>
                                                                <tr>
                                                                    <th style="border: 1px solid #333; padding: 8px; text-align: left;">First Name</th>
                                                                    <th style="border: 1px solid #333; padding: 8px; text-align: left;">Last Name</th>
                                                                    <th style="border: 1px solid #333; padding: 8px; text-align: left;">Email</th>
                                                                    <th style="border: 1px solid #333; padding: 8px; text-align: left;">City</th>
                                                                    <th style="border: 1px solid #333; padding: 8px; text-align: left;">Zip Code</th>

                                                                    <!-- Add more headers as needed -->
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var user in advancedUsers)
                                                                {
                                                                    <tr>
                                                                        <td style="border: 1px solid #333; padding: 8px;">@user.FirstName</td>
                                                                        <td style="border: 1px solid #333; padding: 8px;">@user.LastName</td>
                                                                        <td style="border: 1px solid #333; padding: 8px;">@user.Email</td>



                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-8 d-flex flex-column">
                                <div class="row flex-grow">
                                    <div class="col-12 grid-margin stretch-card">
                                        <div class="card card-rounded">
                                            <div class="card-body">
                                                <div class="d-sm-flex justify-content-between align-items-start">
                                                    <div>
                                                        <h4 class="card-title card-title-dash"></h4>

                                                        <h3> Advanced Users Summary</h3>
                                                        <table style="width: 100%; border-collapse: collapse;">
                                                            <thead>
                                                                <tr>
                                                                    <th style="border: 1px solid #333; padding: 8px; text-align: left;">First Name</th>
                                                                    <th style="border: 1px solid #333; padding: 8px; text-align: left;">Last Name</th>
                                                                    <th style="border: 1px solid #333; padding: 8px; text-align: left;">Email</th>
                                                                    <th style="border: 1px solid #333; padding: 8px; text-align: left;">City</th> <!-- Added City header -->
                                                                    <th style="border: 1px solid #333; padding: 8px; text-align: left;">Zip Code</th> <!-- Added Zip Code header -->
                                                                    <th style="border: 1px solid #333; padding: 8px; text-align: left;">Role</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var user in usersWithRoles) // Ensure this matches your user list variable
                                                                {
                                                                    var roleColor = "#FFFFFF"; // Default color
                                                                    if (user.RoleName == "Regular") roleColor = "green";
                                                                    else if (user.RoleName == "Advanced") roleColor = "pink";
                                                                    else if (user.RoleName == "Admin") roleColor = "blue";

                                                                    <tr>
                                                                        <td style="border: 1px solid #333; padding: 8px;">@user.FirstName</td>
                                                                        <td style="border: 1px solid #333; padding: 8px;">@user.LastName</td>
                                                                        <td style="border: 1px solid #333; padding: 8px;">@user.Email</td>
                                                                        <td style="border: 1px solid #333; padding: 8px;">@user.City</td> <!-- Display City -->
                                                                        <td style="border: 1px solid #333; padding: 8px;">@user.ZipCode</td> <!-- Display Zip Code -->
                                                                        <td style="border: 1px solid #333; padding: 8px;">
                                                                            <span style="color: @roleColor;">@user.RoleName</span> <!-- Color-coded role name -->
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>




                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-lg-8 d-flex flex-column">
                                <div class="row flex-grow">
                                    <div class="col-12 grid-margin stretch-card">
                                        <div class="card card-rounded">
                                            <div class="card-body">
                                                <div class="d-sm-flex justify-content-between align-items-start">
                                                    <div>
                                                        <h4 class="card-title card-title-dash"></h4>

                                                        <h3> Role Table View</h3>



                                                        <div style="text-align: right; margin-bottom: 20px;">
                                                            <select id="roleSelect" onchange="filterByRole()" style="padding: 5px 10px; border-radius: 5px; border: 1px solid #ccc; outline: none; cursor: pointer;">
                                                                <option value="All">All Users</option> <!-- "All Users" option -->
                                                                <option value="Admin">Admin</option>
                                                                <option value="Advanced">Advanced</option>
                                                                <option value="Regular">Regular</option>
                                                            </select>
                                                        </div>



                                                        <table id="usersTable" style="width: 100%; border-collapse: collapse; margin-top: 20px;">
                                                            <thead>
                                                                <tr>
                                                                    <th style="border: 1px solid #ddd; padding: 10px; background-color: #f2f2f2;">First Name</th>
                                                                    <th style="border: 1px solid #ddd; padding: 10px; background-color: #f2f2f2;">Last Name</th>
                                                                    <th style="border: 1px solid #ddd; padding: 10px; background-color: #f2f2f2;">Email</th>
                                                                    <th style="border: 1px solid #ddd; padding: 10px; background-color: #f2f2f2;">City</th>
                                                                    <th style="border: 1px solid #ddd; padding: 10px; background-color: #f2f2f2;">Zip Code</th>
                                                                    <th style="border: 1px solid #ddd; padding: 10px; background-color: #f2f2f2;">Role</th>
                                                                    <th style="border: 1px solid #ddd; padding: 10px; background-color: #f2f2f2;">Actions</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var user in usersWithRoles) 
                                                                {
                                                                    var roleColor = "#FFFFFF"; // Default color
                                                                    if (user.RoleName == "Regular") roleColor = "green";
                                                                    else if (user.RoleName == "Advanced") roleColor = "pink";
                                                                    else if (user.RoleName == "Admin") roleColor = "blue";

                                                                    <tr data-role="@user.RoleName">
                                                                        <td style="border: 1px solid #ddd; padding: 8px;">@user.FirstName</td>
                                                                        <td style="border: 1px solid #ddd; padding: 8px;">@user.LastName</td>
                                                                        <td style="border: 1px solid #ddd; padding: 8px;">@user.Email</td>
                                                                        <td style="border: 1px solid #ddd; padding: 8px;">@user.City</td>
                                                                        <td style="border: 1px solid #ddd; padding: 8px;">@user.ZipCode</td>
                                                                        <td style="border: 1px solid #ddd; padding: 8px;">
                                                                            <span style="color: @roleColor;">@user.RoleName</span></td>
                                                                        <td style="border: 1px solid #ddd; padding: 8px;">
                                                                            @if (user.RoleName == "Advanced") // Only show upgrade button for Advanced users
                                                                            {
                                                                                <button>Upgrade to Admin</button>
                                                                            }
                                                                            @if (user.RoleName == "Regular") // Only show upgrade button for Regular users
                                                                            {
                                                                                <button>Upgrade to Advanced</button>
                                                                            }
                                                                        </td>
                                                                     </tr>
                                                                }
                                                            </tbody>
                                                        </table>

                                                        

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
