@model List<CartItem>
@using OnlineShop.Models.Cart
<style>
    /* Totals section */
    .totals {
        .totals-item

    {
        float: right;
        clear: both;
        width: 100%;
        margin-bottom: 10px;
        label

    {
        float: left;
        clear: both;
        width: 79%;
        text-align: right;
    }

    .totals-value {
        float: right;
        width: 21%;
        text-align: right;
    }

    }

    .totals-item-total {
        font-family: $font-bold;
    }

    }

    .checkout {
        float: right;
        border: 0;
        margin-top: 20px;
        padding: 6px 25px;
        background-color: #6b6;
        color: #fff;
        font-size: 25px;
        border-radius: 3px;
    }

        .checkout:hover {
            background-color: #494;
        }




</style>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Shopping Cart</h2>
        </div>
        
    </div>

    <br /><br />

    @if (Model?.Count > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @{
                    decimal totalPrice = 0;
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="30%">@item.ProductName</td>
                        <td width="10%">@item.Quantity</td>
                        <td width="20%">@item.ProductPrice</td>
                        <td width="20%">@(item.ProductPrice * item.Quantity)</td>

                    </tr>
                    totalPrice += item.ProductPrice * item.Quantity;
                }
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="3">Total Price:</th>
                    <th>@totalPrice</th>
                </tr>
            </tfoot>
        </table>

        <div class="totals">
            <div class="totals-item">
                <label>Subtotal</label>
                <div class="totals-value" id="cart-subtotal">@totalPrice</div>
            </div>
            <div class="totals-item">
                <label>Tax (17%)</label>
                <div class="totals-value" id="cart-tax">@(totalPrice*0.17m)</div>
            </div>
            
            <div class="totals-item totals-item-total">
                <label>Grand Total</label>
                <div class="totals-value" id="cart-total">@(totalPrice*1.17m)</div>
            </div>
        </div>

        <button class="checkout">Checkout</button>
    }
    else
    {
        <p>Your cart is empty.</p>
    }

    
</div>